{% extends 'game_templates/base.html' %}

{% block title %}
    Stage One
{% endblock %}

{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading">
            Runda pierwsza - pytania dla wszystkich
        </div>


        <div id="player" class="panel-body">

            <form action="{% url 'game_mf' %}" method="post">

                {% csrf_token %}
                {{ form.as_p }}
                <input type="text" placeholder="your answer" name="player_answer">
                <input type="submit" value="Search">
            </form>
        </div>



    </div>
{% endblock %}
{% block content_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            try {
                $('#bands-table').DataTable({
                    "bFilter": true,
                    "sDom": "lfrtip"
                });
            }
            catch (err) {
            }
        });
    </script>


{% endblock %}



